<div class="container mx-auto mt-2 sm:mt-4 font-noto">
  <div class="flex justify-center">
    <div class="flex flex-col w-full sm:w-3/4">
      <h1 class="ml-4 md:ml-6 pl-3 my-6 border-l-4 border-gray-400">
        <%= t('profiles.show.title') %>
      </h1>

      <div class="flex justify-center">
        <div class="flex flex-row space-x-4 w-11/12">
          <div class="basis-1/4 flex flex-col items-center">
            <%= image_tag(@user.avatar.url, class: 'rounded-full size-16 sm:size-20 my-3 border border-black/50') %>
            <% if current_user.id != @user.id %>
            <div class="text-sm">
              <% if current_user.followee?(@user) %>
                <%= link_to "フォローを外す", user_relationships_path(@user), data: { "turbo-method": :delete }, class: "bg-transparent border-b border-red-400 px-1 text-red-400 hover:text-gray-400 hover:border-transparent transition duration-500" %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(@user), data: { "turbo-method": :post }, class: "bg-transparent border-b border-blue-500 text-blue-500 px-1 hover:text-gray-400 hover:border-transparent transition duration-500" %>
              <% end %>
            </div>
            <% end %>
          </div>

          <div class="basis-3/4">
            <div class="flex flex-col">
              <div class="flex mb-6 space-x-4 text-gray-600">
                <p class="hover:text-black hover:border-b hover:border-black/50"><%= link_to "フォロー中: #{@user.followees.count}", followees_user_path(@user) %></p>
                <p class="hover:text-black hover:border-b hover:border-black/50"><%= link_to "フォロワー: #{@user.followers.count}", followers_user_path(@user) %></p>
              </div>

              <label><%= t("profiles.show.name") %></label>
              <div class='w-5/6 lg:w-4/6 ml-4 mb-3 border-b border-black/50 bg-transparent'>
                <%= @user.name %>
              </div>

              <label><%= t("profiles.show.email") %></label>
              <div class='w-5/6 lg:w-4/6 ml-4 mb-3 border-b border-black/50 bg-transparent'>
                <%= @user.email %>
              </div>

              <label><%= t("profiles.show.gender") %></label>
              <div class='w-5/6 lg:w-4/6 ml-4 mb-3 border-b border-black/50 bg-transparent'>
                <%= @user.gender_i18n %>
              </div>

              <label><%= t("profiles.show.age") %></label>
              <div class='w-5/6 lg:w-4/6 ml-4 mb-6 border-b border-black/50 bg-transparent'>
                <%= @user.age_i18n %>
              </div>

              <label><%= t("profiles.show.profile") %></label>
              <div class="w-5/6 lg:w-4/6 mt-1 ml-4 mb-4 textarea bg-transparent w-5/6 border border-black/50 p-2 leading-tight">
                <%= simple_format(@user.profile) %>
              </div>
            </div>

            <% if current_user.id == @user.id %>
              <div class="text-end mb-10 w-5/6 lg:w-4/6">
                <%= link_to edit_profile_path do %>
                  <i class="ri-pencil-line text-xl font-thin"></i>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
