<div id="comment-<%= comment.id %>" class="container mx-auto">
  <div class="flex flex-col">
    <div class="flex gap-4">
      <%= image_tag(comment.user.avatar.url, class: 'rounded-full size-10 sm:size-12 mt-1') %>
      <div class="flex flex-col">
        <%= comment.user.name %>
        <div class="leading-tight text-sm mt-1">
          <%= simple_format(comment.content) %>
        </div>
      </div>
    </div>
    <div class="flex items-end justify-end font-light">
      <span class="text-sm text-gray-300 pr-4 pb-0.5">
        <%= l comment.created_at, format: :long %>
      </span>
      <% if current_user&.mine?(comment) %>
      <div class="flex items-end mr-2">
        <div class="hover:animate-quake">
          <i class="ri-delete-bin-5-line text-xl text-gray-700 cursor-pointer" onclick="my_modal_<%= comment.id %>.showModal()"></i>
        </div>
        <dialog id="my_modal_<%= comment.id %>" class="modal">
          <div class="modal-box">
            <p class="text-center text-lg font-medium">コメントを削除しますか？</p>
            <div class="modal-action flex justify-between mx-20">
              <form method="dialog">
                <button class="btn btn-outline outline-none font-thin text-xs md:text-base">キャンセル</button>
              </form>
              <%= link_to "削除", comment_path(comment), class: "btn btn-outline font-thin text-xs text-red-400 md:text-base", data: { turbo_method: :delete } %>
            </div>
          </div>
        </dialog>
      </div>
      <% end %>
    </div>
  </div>
  <div class="divider mt-0"></div>
</div>
