<% content_for(:title, t('.title')) %>

<div class="container mx-auto mt-0 md:mt-4" >
  <div class="flex justify-center">
    <div class="flex-grow max-w-64 md:max-w-md">
      <%= form_with model: @user do |f| %>
        <div class="pt-6">
          <%= f.label :name, t(".name"), class: "text-sm" %>
          <%= f.text_field :name, class: "border-b border-black/50 bg-transparent outline-none focus:bg-white focus:border-white focus:shadow-md transition duration-500 w-full px-1" %>
          <%= render 'shared/error_message_for_field', object: f.object, attribute: :name %>
        </div>

        <div class="py-8">
          <%= f.label :email, t(".email"), class: "text-sm" %>
          <%= f.text_field :email, class: "border-b border-black/50 bg-transparent outline-none focus:bg-white focus:border-white focus:shadow-md transition duration-500 w-full px-1" %>
          <%= render 'shared/error_message_for_field', object: f.object, attribute: :email %>
        </div>

        <div class="pb-8">
          <%= f.label :password, t(".password"), class: "text-sm" %>
          <%= f.text_field :password, class: "border-b border-black/50 bg-transparent outline-none focus:bg-white focus:border-white focus:shadow-md transition duration-500 w-full px-1", id: "user_password" %>
          <%= render 'shared/error_message_for_field', object: f.object, attribute: :password %>
        </div>

        <div class="pb-2 md:mb-8">
          <%= f.label :password_confirmation, t(".password_confirmation"), class: "text-sm" %>
          <%= f.text_field :password_confirmation, class: "border-b border-black/50 bg-transparent outline-none focus:bg-white focus:border-white focus:shadow-md transition duration-500 w-full px-1" %>
          <%= render 'shared/error_message_for_field', object: f.object, attribute: :password_confirmation %>
        </div>

        <div class="text-center my-8">
          <%= f.submit t('.submit'), class: "border border-gray-400 bg-transeparent text-gray-900 w-1/3 md:w-1/4 font-thin cursor-pointer hover:text-white hover:bg-gray-400 hover:shadow-lg transition duration-500" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
