<div class="sm:navbar bg-base-300 sticky z-50 flex items-center justify-between">
  <!-- ハンバーガーメニューのボタン -->
  <button id="menu-toggle" class="btn btn-ghost ">
    <svg id="menu-icon" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
    <svg id="close-icon" class="w-6 h-6 hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>

  <%= link_to root_path, class: "sm:ml-4", data: { turbo_frame: "_top" } do %>
    <%= image_tag "logo.svg", class: "h-8 sm:h-10 hover:scale-110 transition duration-500" %>
  <% end %>

  <div class="flex-none ml-auto">

    <%= form_with url: search_path, method: :get, local: true, class: "" do |f| %>
      <div class="flex items-center">
        <%= f.select :model_type, [['投稿内容', 'post'], ['ユーザー', 'user'], ['カテゴリ', 'category']], { include_blank: false }, class: "text-xs p-1 bg-transparent outline-none" %>
        <%= f.text_field :query, class: "sm:text-xs px-1 py-0.5 sm:p-1 w-32 outline-none font-thin", placeholder: "検索ワード" %>
        <%= f.submit t('header.search'), class: "cursor-pointer text-sm pl-1 mr-6 hover:text-blue-400" %>
      </div>
    <% end %>


    <%= link_to profile_path, class: "hidden sm:block hover:origin-bottom hover:rotate-12 font-thin text-4xl mr-4 md:mx-10" do %>
      <i class="ri-id-card-fill text-black/50 hover:text-black"></i>
    <% end %>
  </div>
</div>
