<div id="side-menu" class="fixed top-7 sm:top-10 left-0 w-1/3 bg-base-200 transform -translate-x-full transition-transform duration-300">
  <div class="w-full h-vh-100 mt-10">
    <ul class="menu text-xl sm:text-2xl font-thin -ml-1 sm:m-6">

      <li class="mb-2 sm:mb-4 hover:animate-bounce">
        <%= link_to posts_path do %>
          <i class="ri-star-line"></i>
          <%= t("sidebar.list") %>
        <% end %>
      </li>

      <li class="mb-2 sm:mb-4 hover:animate-bounce">
        <%= link_to new_post_path, data: { turbo: false } do %>
          <i class="ri-pencil-line"></i>
          <%= t("sidebar.new") %>
        <% end %>
      </li>

      <li class="mb-2 sm:mb-4 hover:animate-bounce">
        <%= link_to liked_posts_user_path(current_user) do %>
          <i class="ri-heart-line"></i>
          <%= t("sidebar.favorite") %>
        <% end %>
      </li>

      <li class="sm:hidden mb-2 sm:mb-4 hover:animate-bounce">
        <%= link_to profile_path do %>
          <i class="ri-id-card-fill"></i>
          <%= t("sidebar.profile") %>
        <% end %>
      </li>

      <li class="flex mb-2 sm:mb-4 hover:animate-bounce">
        <div class="font-thin"  onclick="my_modal_11.showModal()">
          <i class="ri-logout-box-r-line"></i>
          <span><%= t("sidebar.logout") %></span>
        </div>
      </li>

      <div class="sm:divider"></div>
    </ul>
  </div>
</div>
<dialog id="my_modal_11" class="modal">
  <div class="modal-box">
    <p class="text-center text-lg font-medium">ログアウトしますか？</p>
    <div class="modal-action flex justify-between mx-8 sm:mx-20">
      <form method="dialog">
        <button class="btn btn-outline outline-none font-thin text-xs md:text-base">キャンセル</button>
      </form>
      <%= link_to "ログアウト", logout_path, class: "btn btn-outline font-thin text-xs text-red-400 md:text-base", data: { turbo_method: :delete } %>
    </div>
  </div>
</dialog>
