<div id="<%= dom_id(post) %>">
  <div class="rounded-md bg-base-100 shadow-xl h-full flex flex-col outline outline-gray-200">
    <div class="card-body flex flex-col items-center">
      <div class="flex-grow w-full">
        <p class="text-end text-xs text-gray-400"><%= time_ago_in_words(post.created_at) %>前</p>
        <div class="text-xl md:text-3xl">
          <div><%= link_to post.title, post_path(post) %></div>
        </div>

        <div>
          <%= link_to post.category.name, posts_path(category_name: post.category.name),class: "badge badge-primary badge-outline badge-sm text-xs" %>
        </div>

        <div class="card-actions justify-end">
          <% if current_user&.mine?(post) %>
          <div class="flex items-center space-x-4">
            <%= link_to edit_post_path(post) do %>
              <i class="ri-edit-box-line text-2xl text-blue-600"></i>
            <% end %>
            <i class="ri-delete-bin-5-line text-2xl text-red-400 cursor-pointer" onclick="my_modal_<%= post.id %>.showModal()"></i>
            <dialog id="my_modal_<%= post.id %>" class="modal">
              <div class="modal-box">
                <p class="text-center text-lg font-medium">投稿を削除しますか？</p>
                <div class="modal-action flex justify-between mx-20">
                  <form method="dialog">
                    <button class="btn btn-outline outline-none font-thin text-xs md:text-base">キャンセル</button>
                  </form>
                  <%= link_to "削除", post_path(post), class: "btn btn-outline font-thin text-xs text-red-400 md:text-base", data: { turbo_method: :delete } %>
                </div>
              </div>
            </dialog>
          </div>
          <% else %>
          <div class="flex items-center space-x-2">
            <%= render "likes/like", post: post, liker: post.liked_by?(current_user) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
