<li id="<%= dom_id(post) %>">
  <div>
    <div><%= link_to post.title, post_path(post) %></div>
  </div>

  <div class="d-flex">
    <div>
      <%= link_to post.category.name, posts_path(category_name: post.category.name),class: "badge badge-primary badge-outline badge-sm text-xs" %>
    </div>

    <div class="ms-auto">
      <% if current_user&.mine?(post) %>
        <div class="text-end">
          <%= link_to '編集', edit_post_path(post), class: 'btn btn-success btn-sm' %>
          <%= link_to '削除',
                      post_path(post),
                      class: 'btn btn-danger btn-sm',
                      method: :delete,
                      data: { confirm: '削除します' } %>
        </div>
      <% end %>
      <%= l post.created_at, format: :long %>
    </div>
  </div>
  <hr>
</li>
