<div class="container mx-auto mt-10">
  <div class="flex justify-center w-full">
    <div class="card bg-base-100 w-3/4 lg:w-3/5 shadow-xl">
      <div class="card-body flex flex-col items-center mt-6">
        <div class="flex-grow w-full px-4">
          <div class="form-control mb-2 text-3xl mg:text-5xl">
            <%= @post.title %>
          </div>

          <div class="form-control mb-10">
            <%= link_to @post.category.name, posts_path(category_name: @post.category.name),class: "badge badge-primary badge-outline badge-sm text-xs" %>
          </div>

          <div class="form-control mb-4 textarea textarea-bordered">
            <%= @post.content %>
          </div>
        </div>
      </div>
      <% if current_user&.mine?(@post) %>
      <div class="card-actions justify-end mb-4 mr-4">
        <%= link_to edit_post_path(@post) do %>
          <i class="ri-edit-box-line text-2xl text-blue-600"></i>
        <% end %>
        <i class="ri-delete-bin-5-line text-2xl text-red-500"  onclick="my_modal.showModal()"></i>
        <dialog id="my_modal" class="modal">
        <div class="modal-box">
          <p class="text-center text-lg font-medium">削除しますか？</p>
          <div class="modal-action flex justify-between mx-20">
            <form method="dialog">
              <button class="btn btn-outline outline-none font-thin text-xs md:text-base">キャンセル</button>
            </form>
            <%= link_to "削除", post_path(@post), class: "btn btn-outline font-thin text-xs text-red-400 md:text-base", data: { turbo_method: :delete } %>
          </div>
        </div>
      </dialog>
      <div>
      <% end %>
    </div>
  </div>
</div>
