<% content_for(:title, t('.title')) %>

<div class="flex flex-col mx-auto mt-4 max-h-screen sm:min-h-screen sm:max-h-none w-full">
  <div class="flex-1">
    <div class="flex justify-center w-full">
      <div class="rounded-xl bg-base-100 w-4/5 sm:w-3/5 lg:w-1/2 shadow-xl outline outline-gray-100 p-4">
        <div class="flex flex-col items-center pt-2 mt-2">
          <div class="flex-grow w-full px-4">
            <div class="text-end text-xs sm:text-sm text-gray-400">
              <%= @post.created_at.strftime("%Y/%m/%d") %>
            </div>
            <div class="form-control mb-2 text-3xl md:text-4xl font-noto">
              <%= simple_format(@post.title) %>
            </div>

            <div class="form-control">
              <%= link_to @post.category.name, category_posts_path(@post.category),class: "badge badge-primary badge-outline badge-sm text-xs hover:scale-110" %>
              <div class="border-b-2 border-black/50 mt-4 mb-8"></div>
            </div>


            <div class="relative">
              <div class="flex items-center w-5/6 mx-auto snap-x overflow-x-scroll border border-black/50 mb-6 bg-black rounded-sm" id="image-gallery">
                <% if @post.images.present? %>
                  <% @post.images.each do |image| %>
                    <div class="min-w-full snap-center">
                      <a href="<%= image.url %>" data-lightbox="gallery" data-title="Post Image">
                        <img src="<%= image.url %>" alt="Post Image" class="cursor-pointer mx-auto">
                      </a>
                    </div>
                  <% end %>
                <% else %>
                  <div class="w-full">
                    <%= image_tag('sample.jpg') %>
                  </div>
                <% end %>
              </div>

              <!-- スライダーのボタン -->
              <button id="prev-btn" class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-gray-700 text-white px-2 py-1 rounded-l">
                &#10094;
              </button>
              <button id="next-btn" class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-700 text-white px-2 py-1 rounded-r">
                &#10095;
              </button>
            </div>



            <div class="form-control mx-auto mb-4 textarea rounded-sm text-lg leading-tight break-words font-noto font-light">
              <%= markdown(@post.content) %>
            </div>
          </div>
        </div>
        <div class="flex justify-end mb-4 mr-6">
          <% prepare_meta_tags @post %>
          <% twitter_share_url = "https://x.com/share?url= #{CGI.escape(post_url(@post))}" %>
          <%= link_to twitter_share_url, target: '_blank', title: "Xでシェア" do %>
            <i class="ri-twitter-x-line text-2xl text-black/50 pr-2 hover:text-black"></i>
          <% end %>

          <% if current_user&.mine?(@post) %>
          <div class="flex space-x-1">

            <%= link_to edit_post_path(@post), title: "編集" do %>
              <i class="ri-edit-box-line text-2xl text-blue-500"></i>
            <% end %>

            <div class="hover:animate-quake">
              <i class="ri-delete-bin-5-line text-2xl text-red-400 cursor-pointer" onclick="my_modal.showModal()"></i>
            </div>
            <dialog id="my_modal" class="modal">
              <div class="modal-box">
                <p class="text-center text-lg font-medium">投稿を削除しますか？</p>
                <div class="modal-action flex justify-between mx-20">
                  <form method="dialog">
                    <button class="btn btn-outline outline-none font-thin text-xs md:text-base">キャンセル</button>
                  </form>
                  <%= link_to "削除", post_path(@post), class: "btn btn-outline font-thin text-xs text-red-400 md:text-base", data: { turbo_method: :delete } %>
                </div>
              </div>
            </dialog>
          </div>
          <% else %>
          <!-- "いいね"アイコンをカードの左端に表示 -->
          <div class="flex items-center space-x-2">
            <%= render "likes/like", post: @post, liker: @post.liked_by?(current_user) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="flex justify-center w-full mt-16 mb-0 sm:mb-20">
      <div class="flex flex-col items-center w-full">
        <h2 class="text-2xl text-bold mb-6 w-4/5 lg:w-4/6 md:ml-6"><i class="ri-chat-1-line"></i> コメント</h2>
        <div id="table-comment" class="w-3/4 lg:w-3/5">
          <%= render @comments %>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full bg-gray-400">
    <%= render "comments/form", comment: @comment, post: @post %>
  </div>
</div>
