<% content_for(:title, t('.title')) %>

<div class="container mx-auto" >
  <div class="flex justify-center">
    <div class="flex-grow max-w-64 md:max-w-md">
      <%= form_with url: login_path do |form| %>
        <div class="py-8">
          <%= form.label :email, "メールアドレス" %>
          <%= form.text_field :email, class: "input input-bordered input-xs w-full" %>
        </div>

        <div class="pb-2 md:mb-8">
          <%= form.label :password, "パスワード" %>
          <%= form.text_field :password, class: "input input-bordered input-xs w-full form-control" %>
        </div>

        <div class="text-center my-8">
          <%= form.submit t('.login'), class: "btn btn-sm bg-primary-content w-1/4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
