<% content_for(:title, t('.title')) %>

<div class="container mx-auto max-w-lg mt-4 md:mt-8" >
  <h2 class="flex justify-center">ログイン</h2>

  <div class="border border-black/50 bg-zinc-200 rounded-lg mt-8 mx-4 pt-4 md:pt-6 px-10 md:px-14">
    <%= form_with url: login_path do |f| %>
      <div class="py-8 md:mb-8">
        <%= f.label :email, t(".email"), class: "text-sm" %>
        <%= f.text_field :email, class: "w-full border-b border-black/50 bg-transparent outline-none rounded-none" %>
      </div>

      <div class="md:pb-2">
        <%= f.label :password, t(".password"), class: "text-sm" %>
        <%= f.text_field :password, class: "w-full border-b border-black/50 bg-transparent outline-none rounded-none" %>
      </div>

      <div class="text-center py-10 md:py-12">
        <%= f.submit t('.login'), class: "w-28 border border-black/50 bg-transeparent text-gray-900 font-thin cursor-pointer hover:text-white hover:bg-black/50 hover:shadow-lg transition duration-500" %>
      </div>
    <% end %>
  </div>


</div>
