<% content_for(:title, t('.title')) %>

<div class="container mx-auto max-w-lg my-4 md:my-8" >
  <h2 class="flex justify-center">ログイン</h2>

  <div class="border border-black/50 bg-zinc-200 rounded-lg mt-8 mx-4 pt-4 md:pt-6 px-10 md:px-14">
    <%= form_with url: login_path do |f| %>
      <div class="py-8 md:mb-8">
        <%= f.label :email, t(".email"), class: "text-sm" %>
        <%= f.text_field :email, class: "w-full border-b border-black/50 bg-transparent outline-none rounded-none" %>
      </div>

      <div class="md:pb-2">
        <%= f.label :password, t(".password"), class: "text-sm" %>
        <%= f.text_field :password, class: "w-full border-b border-black/50 bg-transparent outline-none rounded-none" %>
      </div>

      <div class="text-center py-10 md:py-12">
        <%= f.submit t('.login'), class: "w-28 border border-black/50 bg-transeparent text-gray-900 font-thin cursor-pointer hover:text-white hover:bg-black/50 hover:shadow-lg transition duration-500" %>
      </div>
    <% end %>

      <%= link_to auth_at_provider_path(provider: :google) do %>
        <div class="flex justify-center mx-auto rounded-full w-40 mb-8 p-1 border border-black/50 hover:scale-105 transition duration-300">
          <p><span class="text-[#4284F3]">G</span><span class="text-[#EA4335]">o</span><span class="text-[#FABC05]">o</span><span class="text-[#4284F3]">g</span><span class="text-[#33A852]">l</span><span class="text-[#EA4335]">e</span>でログイン</p>
        </div>
      <% end %>
  </div>


</div>
