<!DOCTYPE html>
<html class="bg-gray-100 h-scroll scroll-smooth">
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <!--<link rel="manifest" href="/manifest.json"> -->
    <!-- <link rel="icon" href="/icon.png" type="image/png"> -->
    <!-- <link rel="icon" href="/icon.svg" type="image/svg+xml"> -->
    <!-- <link rel="apple-touch-icon" href="/icon.png"> -->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= display_meta_tags %>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
  </head>


  <body class="flex flex-col min-h-screen">
    <header class="fixed top-0 left-0 w-full z-50">
      <% if logged_in? %>
        <%= render "shared/header" %>
      <% else %>
        <%= render "shared/before_login_header" %>
      <% end %>
      <%= render "shared/flash_message" %>
    </header>

    <% if logged_in? %>
      <aside class="z-40">
        <%= render "shared/sidebar" %>
      </aside>
    <% end %>

    <main class="flex flex-1 mt-20 h-screen">
      <%= yield  %>
    </main>

    <footer class="w-full z-50 hidden sm:block">
      <%= render "shared/footer" %>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>

    <script>
      $('#menu-toggle').click(function() {
        $('#side-menu').toggleClass('translate-x-0 -translate-x-full');
        $('#menu-icon').toggleClass('hidden');
        $('#close-icon').toggleClass('hidden');
      });

      $(document).ready(function() {
        const $imageInput = $('#post_images');

        if ($imageInput.length) {
          $imageInput.on('change', function(event) {
            const files = event.target.files;
            const $previewsContainer = $('#previews');
            $previewsContainer.empty();  // 既存のプレビューをクリア

            $.each(files, function(index, file) {
              const reader = new FileReader();
              const $previewImage = $('<img>', {
                class: 'mt-3 preview-image max-h-52'
              });

              reader.onload = function(e) {
                $previewImage.attr('src', e.target.result);
                $previewsContainer.append($previewImage);
              };

              reader.readAsDataURL(file);
            });
          });
        }
      });
    </script>

  </body>
</html>
